@model NoteViewModel;
@{
}

<div class="card">
    <div class="card-header">
        <div style="display: flex;">
            <div> <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.ThisBook.Id" style="text-decoration: none">@Model.ThisBook.Category <span style="font-size:0.6rem;"> แก้ไข </span> </a> </div>
            <div class="position-absolute top-0 end-0 p-2"> <h5> <a class="card-link" href="#" data-bs-toggle="modal" data-bs-target="#myModal" style="text-decoration: none">+</a> </h5> </div>
        </div>
    </div>
    <div class="card-body">
        
        <div class="row">
            <div class="col-3"> <img src="data:image/png;base64,@Model.ThisBook.Image64" class="card-img-top" alt="..."> </div>
            <div class="col-9 d-flex flex-column justify-content-center align-items-center text-center">
                <h5> @Model.ThisBook.BookName </h5>
                <p> @Model.ThisBook.Description </p>

                <div style="display:flex;justify-content: space-between; width:70%;">
                    <a href="" style="text-decoration:none;" data-bs-toggle="modal" data-bs-target="#ModalStatus">
                        @switch (Model.ThisBook.Status)
                        {
                            case 0:
                                <p> ยังไม่ได้อ่าน </p>
                                break;
                            case 1:
                                <p> กำลังอ่าน </p>
                                break;
                            case 2:
                                <p> อ่านจบแล้ว </p>
                                break;
                        }
                    </a>

                    <div>
                        <a href="" style="text-decoration:none;" data-bs-toggle="modal" data-bs-target="#ModalScore">
                            @switch (Model.ThisBook.Score)
                            {
                                case 0:
                                    <div>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    break;
                                case 1:
                                    <div>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    break;
                                case 2:
                                    <div>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    break;
                                case 3:
                                    <div>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    break;
                                case 4:
                                    <div>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    break;
                                case 5:
                                    <div>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                    </div>
                                    break;
                            }
                        </a>
                    </div>
                </div>


                <div class="position-absolute bottom-0 end-0 p-2">  @Model.ThisBook.Author </div>
            </div> 
        </div>
        
    </div>
</div>


<div class="row d-flex justify-content-center align-items-center">
@foreach (var note in Model.Notes)
{

        if (note.Image64 == "no-data" && note.Content != "%$#%@#@null%$#%@#@") // X img O text
        {
            <div class="card" style="width: 18rem; margin: 1.5rem">
                    <div style="display:flex; justify-content:end;"> <a asp-controller="Note" asp-action="Delete" asp-route-id="@note.Id" style="text-decoration: none">x</a> </div>
                <div class="card-body">
                    <center>
                        <p> @note.Content </p>
                    </center>
                </div>
            </div>
        }
        else if (note.Image64 != "no-data" && note.Content != "%$#%@#@null%$#%@#@") // O img O text
        {
            <div class="card" style="width: 18rem; margin: 1.5rem">
                    <div style="display:flex; justify-content:end;"> <a asp-controller="Note" asp-action="Delete" asp-route-id="@note.Id" style="text-decoration: none">x</a> </div>
                <img src="data:image/png;base64,@note.Image64" class="card-img-top" alt="...">
                <div class="card-body">
                    <p> @note.Content </p>
                </div>
        </div>
        }
        else if (note.Image64 != "no-data" && note.Content == "%$#%@#@null%$#%@#@") // O img X text
        {
            <div class="card" style="width: 18rem; margin: 1.5rem">
                <div style="display:flex; justify-content:end;"> <a asp-controller="Note" asp-action="Delete" asp-route-id="@note.Id" style="text-decoration: none">x</a> </div>
                <img src="data:image/png;base64,@note.Image64" class="card-img-top" alt="...">
                <br />
            </div>
        }
        else if (note.Image64 == "no-data" && note.Content == "%$#%@#@null%$#%@#@") // X img X text
        {
            <div class="card" style="width: 18rem; margin: 1.5rem">
                <div style="display:flex; justify-content:end;"> <a asp-controller="Note" asp-action="Delete" asp-route-id="@note.Id" style="text-decoration: none">x</a> </div>
                <div class="card-body">
                    <center>
                        <p> ทำหาพ่อมึง </p>
                    </center>
                </div>
            </div>
        }


}
</div>


<form method="post" asp-controller="Note" asp-action="Create" enctype="multipart/form-data">
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Create New Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <div class="mb-3">
                         <label for="formFile" class="form-label">รูปภาพประกอบ</label>
                         <input asp-for="NewNote.ImageFile" class="form-control" type="file" placeholder="รูปภาพประกอบ" aria-label="default input example">
                    </div>

                    <input asp-for="NewNote.BookID" type="text" value="@Model.ThisBook.Id" hidden>

                     <div class="mb-3">
                         <label for="exampleFormControlTextarea1" class="form-label">คอมเมนท์</label>
                        <textarea asp-for="NewNote.Content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="submit" class="btn btn-primary">เพิ่ม</button>
                </div>
            </div>
        </div>
    </div>
</form>


    <div class="modal fade" id="ModalStatus" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="post" asp-controller="Home" asp-action="StatusUpdate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">สถานะ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <input name="Id" type="text" value="@Model.ThisBook.Id" hidden>
                    <select name="Status" class="form-select" size="3" aria-label="">
                        <option value="0">ยังไม่ได้อ่าน</option>
                        <option value="1">กำลังอ่าน</option>
                        <option value="2">อ่านจบแล้ว</option>
                    </select>
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="submit" class="btn btn-primary">บันทึก</button>
                </div>
            </div>
        </div>
    </form>
    </div>

<div class="modal fade" id="ModalScore" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="post" asp-controller="Home" asp-action="ScoreUpdate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">สถานะ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input name="Id" type="text" value="@Model.ThisBook.Id" hidden>
                    <select name="Score" class="form-select" size="6" aria-label="">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="submit" class="btn btn-primary">บันทึก</button>
                </div>
            </div>
        </div>
    </form>
</div>